# Ignore arquivos buildados
/build/
*.class

# Ignore arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignore logs e relatórios de debug
*.log

# Ignore arquivos de configuração específicos da IDE
/.idea/
/*.iml
/.classpath
/.project
/.settings/

server/.idea/
server/*.iml
server/.classpath
server/.project
server/.settings/
server/*.db

client/.idea/
client/*.iml
client/.classpath
client/.project
client/.settings/
client/*.db

# Ignore dependências baixadas via build tools
/maven/
/gradle/
/target/

# Ignore arquivos de configuração específicos do sistema operacional
*.swp
*.swo
*.bak
*.tmp
*.old

# Ignore outras pastas e arquivos desnecessários
/out/
/bin/
